<h1>Example electron application.</h1>

See the application menu<br><br>

<button id="test_button">Test Button</button><br><br>

Node's os.freemem(): <span id='freemem_span'></span><br><br>

README.md:<br>
<span id='readme_span'></span>

<script src="app.js"></script>
